//base styles
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  position: relative;
  color: color('black');
  box-sizing: border-box;
  padding: $padding-lg 0;
  background: color('white');
  font: 16px/24px $font-sans, sans-serif;

  @include media-nav {
    padding-top: $header-md;
  }
}

p {
  @include p1;
}

a {
	color: inherit;
}

// Thanks @zachleat: https://www.zachleat.com/web/fluid-images/
img,
video {
  max-width: 100%;
  &:not(.no-radius) {
    border-radius: 20px;
  }
}
img[width] {
  width: auto;
}
img[width][height],
video[width][height] {
  height: auto;
  aspect-ratio: attr(width) / attr(height);
}
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}

.sitewrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  @include clearfix();
  max-width: $sitewrapper;
  padding: 0 #{$padding-sm * 2};
  @include media-md {
    padding: 0 $padding-md;
  }
}

// Skip To Main Content
.skip-to-content {
  left: 0;
  top: -32px;
  z-index: 1;
  padding: 12px;
  position: absolute;
  border: 3px solid blue;
  background: color('white');
  transform: translateY(-100%);
  &:focus {
    transform: translateY(0%);
  }
}

// This allows js to determine breakpoint
#breakpoint-indicator {
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;

  &::after {
    content: 'xs';
    @include media-sm {
      content: 'sm';
    }
    @include media-md {
      content: 'md';
    }
    @include media-lg {
      content: 'lg';
    }
    @include media-nav {
      content: 'nav';
    }
    @include media-xl {
      content: 'xl';
    }
  }
}

// Code
code {
  padding: 2px;
  border-radius: 5px;
  color: color('red');
  display: inline-block;
  font-family: monospace;
  background-color: color('gray-light');
}

// Canvas
.trip {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  opacity: 1;
  display: none;
  position: fixed;
  pointer-events: none;
  &.-active {
    display: block;
  }
}

// Nate's Truckin'
.walkin-frame {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: grid;
  position: fixed;
  pointer-events: none;
  padding: 4px 0 4px 4px;
  align-content: space-between;
  justify-content: space-between;
  grid-template-columns: auto auto;

  div {
    width: 32px;
    height: 32px;
    overflow: hidden;
    image-rendering: pixelated;
    background-size: 64px 32px;
    background-position: 0 0;
    &.truckin {
      background-image: url('../images/truckin-sprite.png');
    }
    &.bookin {
      background-image: url('../images/bookin-sprite.png');
    }
  }
}