// Footer

.site-footer {
  text-align: center;
  padding: $padding-lg 0;
  @include media-md {
    padding: #{$padding-lg * 2} 0;
  }

  p {
    margin: 0 auto;
    max-width: 600px;
  }

  .-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: $padding-lg;
  }

  .heartBeat {
    @include h2-serif;
  }

  .trippin-container {
    min-width: 128px;
    min-height: 128px;
    display: inline-block;
  }

  .footer-truckin {
    z-index: 10;
    width: 128px;
    height: 128px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    image-rendering: pixelated;
    background-image: url('../images/favicon.gif');
    background-size: cover;

    &.-active,
    &:hover,
    &:focus {
      mask-image: url('../images/favicon.gif');
      mask-repea: no-repeat;
      mask-size: 128px 128px;
      background-image: url('../images/rainbow.gif'), url('../images/favicon.gif');
      background-blend-mode: hard-light;
    }

    &.-active {
      left: 50%;
      bottom: 144px;
      position: fixed;
      transform: translateX(-50%);

      @include media-md {
        bottom: 216px;
      }
    }
  }
}